<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jwt.mapper.UserMapper" >

	<resultMap id="BaseResultMap" type="com.jwt.entity.Po.UserPO" >
    <!--
      WARNING - @mbggenerated
    -->
   	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    
  </resultMap>
    <sql id="baseColumn">id,user_name,password</sql>

	<select id="findById" resultMap="BaseResultMap">
		select <include refid="baseColumn"/> from user where id=#{userId}
	</select>

	<select id="findByName" resultMap="BaseResultMap">
		select <include refid="baseColumn"/> from user where user_name=#{userName}
	</select>
</mapper>
